body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

 .whole_app-bg{

    background: rgb(14,200,200);
background: linear-gradient(90deg, rgba(14,200,200,1) 5%, rgba(59,23,119,1) 30%, rgba(39,17,40,1) 71%, rgba(10,131,222,1) 94%);
 }


