*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* .whole_app-bg
{

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(0, 216, 255, 1) 0%, rgba(224, 59, 198, 1) 82%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(0, 216, 255, 1) 0%, rgba(224, 59, 198, 1) 82%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(0, 216, 255, 1) 0%, rgba(224, 59, 198, 1) 82%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E03BC6', endColorstr='#00D8FF', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(0, 216, 255, 1) 0%, rgba(224, 59, 198, 1) 82%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(0, 216, 255, 1) 0%, rgba(224, 59, 198, 1) 82%);

